table{
  width: 100%;
}

.content-left{
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.content-right{
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.ic-delete > svg{
  fill: #e45959;
}
